body{
    background-color: brown;

}
.texture{
    background-image: url(https://i.stack.imgur.com/pMAiU.jpg);
    border-radius: 25px;
}
.hand{
    background-color:rgba(0, 131, 0,.65);
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:60%;
    min-height: 200px;
    height: 70%;
    max-height: 400px;
    max-width: 700px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;

}

img{
    height:90%;
    
}

#table{
    max-width: 700px;
    width: 40%;
    text-align: center;
    margin:auto;
}

#buttonHolder{
    margin-top:20px;
}